
body {
  margin: 0;
  min-height: 100vw;
}

.viewport {
  min-height: 100vw;
  overflow: hidden;
}

$header-margin: 89px;

#header-nav {
  display: flex;
  margin-top: $header-margin;

  #brand {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }

  #space {
    flex-grow: 3;
  }

  #navigation {
    font-size: 18px;
    text-align: left;
    color: white;

    flex-grow: 2;
    display: flex;
    justify-content: space-around;
  }
}

.helvetica {
  font-family: Helvetica;
  font-weight: bold;
}


.brand {
  display: flex;

  .logo {
    width: 4pt;
    height: 4pt;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    border: solid 6.3px #2c2c2c;
  }

  .prospekt {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
  }
}

@font-face {
  font-family: 'KievitSlabOffc';
  src: url('fonts/KievitSlabOffc-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'KievitSlabOffc';
  src: url('fonts/KievitSlabOffc-Bold.ttf') format('truetype');
  font-weight: bold;
}

#description {
  margin-left: 7vw;
  margin-top: 200px;

  font-family: KievitSlabOffc;

  #design-development-branding {
    opacity: 0.75;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 2.7px;
    color: #454545;
  }

  #we-are-prospekt {
    font-size: 58px;
    line-height: 1.05;
    letter-spacing: -2.9px;
    color: black;

    margin-top: 15px;
  }

  #design-development {
    font-size: 58px;
    letter-spacing: -2.9px;
    color: #bebebe;

    margin-top: 6px;
  }
}

.bubble {
  z-index: -1;
  position: relative;
}

$bubble-diameter: 90vw;
$max-bubble-diameter: 900px;
#big-bubble {

  background-image: linear-gradient(307deg, #000000, #303943);
  border-radius: 50%;

  width: $bubble-diameter;
  height: $bubble-diameter;

  max-width: $max-bubble-diameter;
  max-height: $max-bubble-diameter;

  position: absolute;
  top: calc(#{$header-margin} - #{$bubble-diameter}/2);
  right: calc(#{$header-margin} - #{$bubble-diameter}/2);
}

$scale: 30;
$vw_prop: $scale + 'vw';
$offset: $scale + '0px';
@media screen and (min-width: 1000px)  {
  #big-bubble {
    top: calc(#{$header-margin} - #{$max-bubble-diameter}/2);
    right: calc(#{$header-margin} - #{$max-bubble-diameter}/2 + #{$vw_prop} - #{$offset});
  }
}

#little-bubble {
  width: 124px;
  height: 124px;
  background-image: linear-gradient(315deg, #000000, #303943);
}
